{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - Ajout d'une compétence
{% endblock %}

{% block body %}
    <h2>Ajout d'une compétence</h2>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="list">Retour aux compétences</a>
{% endblock %}
